<!-- Story Div -->
<div class="container-fluid text-center" id="stories">

  {{#if stories}}

    <div class="row story-grid">
      <div class="col">

        {{#each stories}}
          <!-- Stories go here-->
          <div class="card" style="width: 18rem;" data-id="{{this._id}}">
            <img id="storyPhoto" class="card-img-top" src="{{this.photo}}" alt="{{this.headline}}">
            <div class="card-body">
              <h5 class="card-title"><span>{{this.headline}}</span></h5>
              <p class="card-text" id="storyAuthor"><span>{{this.author}}</span></p>
              <a id="cardButtons" href="{{this.link}}" class="btn btn-primary">View Story</a>
              <a id="cardButtons" class="btn btn-secondary" href="viewComments">View Comments</a>
              <a id="cardButtons" class="btn btn-info">Save Article</a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>


  {{else}}
    <div class="container">
      <h3>Click "Scrape" to get stories!</h3>
    </div>
  {{/if}}

</div>
